<div style="margin: 16px;">
    <div class="fullWidth listItem" *ngFor="let ambientLight of ambientLights | keyvalue">

        <div class="title">
            <h3 [class.offline]="ambientLight.value.status =='OFFLINE'">
                {{ambientLight.value.name}}</h3>
            version = {{ambientLight.value.version}} | IP={{ambientLight.value.ip}} |
            voltage={{ambientLight.value.voltage}}V
        </div>
        <div [style.background]="ambientLight.value.color" class="colorindicator"></div>
        <app-color-picker-dialog name="colPicker0" (change)="colorChange(ambientLight.value.path,0)"
            [(ngModel)]="ambientLight.value.color0"></app-color-picker-dialog>
        <app-color-picker-dialog name="colPicker1" (change)="colorChange(ambientLight.value.path,1)"
            [(ngModel)]="ambientLight.value.color1"></app-color-picker-dialog>
        <mat-form-field appearance="fill">
            <mat-label>Animation</mat-label>
            <mat-select name="animation" [(ngModel)]="ambientLight.value.animation"
                (selectionChange)="animationChange(ambientLight.value.path)">
                <mat-option *ngFor="let animation of animations" [value]="animation.value">
                    {{animation.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>Brightness:
            <mat-slider style="width:50%" thumbLabel #brightnessSlider min="0" max="255"
                [(ngModel)]="ambientLight.value.brightness" (change)="brightnessChange(ambientLight.value.path)">
            </mat-slider>
        </div>
        <div>Speed:
            <mat-slider style="width:50%" thumbLabel #fadeSpeed min="0" max="1024"
                [(ngModel)]="ambientLight.value.speed" (change)="speedChange(ambientLight.value.path)">
            </mat-slider>
        </div>
    </div>
</div>