<mat-tab-group class="mat-app-background darkMode" [selectedIndex]="selectedTab"
    (selectedIndexChange)="setTabState($event)">
    <mat-tab label="Licht">
        <app-lights class="fullFlex" style="height: fit-content"></app-lights>
    </mat-tab>
    <mat-tab label="Thermostat">
        <app-thermostat class="fullFlex"></app-thermostat>
    </mat-tab>
    <mat-tab label="Ambient">
        <app-ambient ></app-ambient>
    </mat-tab>
    <mat-tab label="Settings">
        <app-settings ></app-settings>
    </mat-tab>
</mat-tab-group>