<div style="overflow-y: scroll; max-height: 80vh; margin-bottom: 8px;">
    <div *ngFor="let AutoTempConfig of AutoTempConfigArray" class="auto-temp-config-list">
        <h3>
        <mat-slide-toggle [(ngModel)]="AutoTempConfig.enabled">
            {{AutoTempConfig.id}}
        </mat-slide-toggle>
        </h3>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="AutoTempConfig.name" [disabled]="!AutoTempConfig.enabled">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Time</mat-label>
            <input matInput [(ngModel)]="AutoTempConfig.time" type="time" [disabled]="!AutoTempConfig.enabled">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Temperatur</mat-label>
            <input matInput [(ngModel)]="AutoTempConfig.targetTemp" type="number" [disabled]="!AutoTempConfig.enabled">
        </mat-form-field>
        <div gdColumns="repeat(auto-fill, minmax(100px, 1fr))">
            <mat-checkbox *ngFor="let i of arrayItterator(AutoTempConfig.days)" [(ngModel)]="AutoTempConfig.days[i]" [disabled]="!AutoTempConfig.enabled">
                {{dayNames[i]}}
            </mat-checkbox>
        </div>

        <br>
    </div>
</div>


<button mat-raised-button (click)="save()">
    Save
</button>